*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  @apply bg-grayWhite
}
.container-section{
  @apply max-w-[80rem] px-[30px] m-auto
}
.text:before{
  display: inline-block;
  content: "";
  position: relative;
  width: 46px;
  height: 2.5px;
  background: #FEA116;
  top: -8px;
  left: -10px;
}
.text:after{
  display: inline-block;
  content: "";
  position: relative;
  width: 46px;
  height: 2.5px;
  background: #FEA116;
  top: -8px;
  left: 10px;
}

.textline:after{
  display: inline-block;
  content: "";
  position: relative;
  width: 46px;
  height: 2.5px;
  background: #FEA116;
  top: -8px;
  left: 10px;
  color:#555555b3;
}